[submodule "vim/ctrlp.vim"]
	path = vim/pack/bajtos/start/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/tern_for_vim"]
	path = vim/pack/bajtos/start/tern_for_vim
	url = https://github.com/marijnh/tern_for_vim.git
[submodule "vim/vim-javascript"]
	path = vim/pack/bajtos/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/vim-expand-region"]
	path = vim/pack/bajtos/start/vim-expand-region
	url = git@github.com:terryma/vim-expand-region.git
[submodule "vim/typescript-vim"]
	path = vim/pack/bajtos/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
